[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule "bundle/fzf.vim"]
	path = bundle/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule "bundle/fzf"]
	path = bundle/fzf
	url = git@github.com:junegunn/fzf.git
[submodule "bundle/vim-lucius"]
	path = bundle/vim-lucius
	url = git@github.com:jonathanfilip/vim-lucius.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
